fastapi
uvicorn
pydantic
python-dotenv
pandas
openpyxl
supabase
requests
requests-cache
aiohttp
cachetools
beautifulsoup4
jinja2
python-multipart
playwright
playwright-stealth
urllib3<2.0.0
yfinance
numpy
alpaca-py>=0.17.0
