@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";
}

:root {
  color-scheme: dark;
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-50 antialiased;
  }
}
